name: Test Operator Setup
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test-lxd:
    runs-on: ubuntu-latest
    name: Test lxd environment
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - uses: ./
        with:
          provider: lxd

      - name: Deploy ubuntu
        run: |
          juju deploy ubuntu
          juju status
          exit $?

  test-microk8s:
    runs-on: ubuntu-latest
    name: Test microk8s environment
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - uses: ./
        with:
          provider: microk8s

      - name: Deploy minio
        run: |
          juju deploy cs:minio
          juju status
          exit $?

  test-microstack:
    runs-on: self-hosted
    name: Test microstack environment
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - uses: ./
        with:
          provider: microstack

      - name: Deploy Ubuntu
        run: |
          juju deploy cs:ubuntu
          juju status
          exit $?

  test-vSphere:
    runs-on: self-hosted
    name: Test vSphere environment
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - uses: ./
        with:
          provider: vsphere
          credentials-yaml: ${{ secrets.CREDENTIALS_YAML }}
          clouds-yaml: ${{ secrets.CLOUDS_YAML }}
          bootstrap-options: "--model-default datastore=vsanDatastore --model-default primary-network=VLAN_2764"

      - name: Deploy ubuntu
        run: |
          juju deploy ubuntu
          juju status
          exit $?
